@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url(desktop.css);
@import url(tablet.css);
@import url(mobile.css);
:root{
    --fonteprincipal: 'Raleway', sans-serif;
    --corFundo: rgb(59, 151, 125);
    --corSecund: rgb(76, 201, 165);
    --corFonte: rgb(51, 8, 10);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--fonteprincipal);
}
